body {
	background-color: #83bf34;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	/* https://cssgradient.io/ */
	text-align: center;
}

main {
	background-color: #acf497;
}

h1  {
	 text-align: center;
	 color: black;
	 font-size: 14px;
}

h3 {
	color:black;
}

b {
	color:rgb(242, 90, 138) ;
	font-size: 20px;
}

i {
	color: #32CD32;
	font-size: 30px;
}

li {
	display: inline;
	color: white;
  }

#logo {
	display: inline;
	text-align: left;
}

#main-banner {
    height: 200px;
    background: url("/image/minebackground.jpg");
    background-size: cover;
	background-repeat: repeat;
}
#main-banner-content {
    height: 150px;
	width: 40%;
    background: url("/image/Minecraft-Logo-650x366.png");
    margin: auto;
	background-repeat: no-repeat;
	text-align: center;
	position: absolute;
}