body {
	background-color: #ABEBC6;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	/* https://cssgradient.io/ */
	text-align: center;
}

main {
	background-color: #ABEBC6;
}

footer {
	background-color: #28B463;
}

h1  {
	 text-align: center;
	 color: black;
	 font-size: 28px;
	 font-weight: bold;
	 height: 32px;
	margin-top: 8px;
}

h3 {
	color:black;
	font-weight: bold;
}

b {
	color:rgb(242, 90, 138) ;
	font-size: 20px;
}

i {
	color: #32CD32;
	font-size: 30px;
}

/* Menu */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
  
nav li {
	float: left;
}
  
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
.momentos{
	margin-bottom: 16px;
}
nav li a:hover {
	background-color: #111;
}
.active {
	background-color: #04AA6D;
}

#logo {
	display: inline;
	text-align: left;
}

#preencher{
	background-image: url("image/minebackground.jpg");
	background-repeat: repeat-x;
	height: 150px;
	display: flex;
	justify-content:center;
}

.minecraft_logo{
  position: relative; 
  z-index: 2;
  top: 0px;
}

.menu2 {
	color: white;
	display: block;
}

.rodape {
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 32px;
}